* {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #e3f4f5;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.container .popup {
  background-color: #ffffff;
  max-height: 650px;
}

.container .popup button {
  background: url(./close.png) 50% 50% no-repeat;
  background-size: contain;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 122px;
  right: 67px;
}

header {
  text-align: left;
}

header p {
  font-size: 32px;
}

.pairs {
  width: 8%;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  background-color: #ffffff;
  font-size: 14px;
}

.pairs:hover {
  background-color: #abe4ff;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.pairs .left {
  text-align: left;
}

.pairs .right {
  text-align: right;
}

.pairs .right_up {
  color: green;
  text-align: right;
}

.pairs .right_down {
  color: red;
  text-align: right;
}

.pairs .left_up {
  color: green;
  text-align: left;
}

.pairs .left_down {
  color: red;
  text-align: left;
}

.pair {
  text-align: left;
  font-size: 12px;
  margin-bottom: 3%;
}

.pair h1 {
  display: inline-block;
  margin-left: 3%;
  width: 20%
}

.pair .top span {
  font-size: 21px;
}

.pair .left {
  margin-left: 3%;
  display: inline-block;
  width: 20%;
}

.pair .right {
  display: inline-block;
}

table {
  border-collapse: collapse;
  border: 2px solid white;
  font-size: 9px;
  display: inline-block;
  width: 37%;
  overflow: auto;
  height: 300px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white;
  font-weight: normal;
}

td,th {
  padding: 3px;
  border-right: 1px solid #bebebe;
  text-align: left;
}

